body.dark-mode {
  background-color: #121212; /* Dark background for dark mode */
  color: #e0e0e0; /* Light text color for readability in dark mode */
}
body.dark-mode nav {
  background-color: #1a1a1a; /* Slightly lighter than body for contrast */
}

body.dark-mode a,
body.dark-mode .btn {
  color: #e0e0e0; /* Light color for text in dark mode */
}

body.dark-mode a:hover {
  color: #ffffff;
  text-decoration-color: #666; /* Lighter decoration color */
}

body.dark-mode .btn {
  background-color: #333; /* Darker background for buttons */
  border-color: #444; /* Adjust border color for visibility */
}

body.dark-mode .btn:hover {
  background-color: #454545; /* Lighten on hover */
}
body.dark-mode section {
  background-color: #222; /* Dark background for sections */
  border-color: #333; /* Borders adjusted for dark mode */
}

body.dark-mode .details-container {
  background-color: #333;
  color: #ccc;
}

body.dark-mode .section__text {
  border-top: 1px solid #444; /* Subtle top border for thematic separation */
}

body.dark-mode .article-container article {
  background-color: #2c2c2c; /* Slightly varied background for articles */
}

/*  */

/* .darkmode-toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Take full viewport height */
}

.darkmode-toggle {
  position: relative; /* Ensure the child elements are positioned relative to this container */
  width: 100px;
  height: 40px;
} */

.darkmode-label {
  display: block;
  position: relative;
  width: 100px;
  height: 40px;
  background: #ebebeb;
  border-radius: 40px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4),
    inset 0px -1px 3px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

.darkmode-label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 36px;
  height: 36px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 36px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.darkmode-input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.darkmode-input:checked + label {
  background: #242424;
}

.darkmode-input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.darkmode-label:active:after {
  width: 51px;
}

svg {
  position: absolute;
  top: 50%; /* Center vertically */
  transform: translateY(-50%);
  z-index: 1; /* Above the label */
  transition: 0.3s;
}

.sun {
  width: 8px;
}

.moon {
  width: 8px;
}

.darkmode-toggle input:checked + label svg.sun {
  fill: #7e7e7e;
}

.darkmode-toggle input:checked + label svg.moon {
  fill: #fff;
}
