@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
}

@media (max-width: 768px) {
  #about {
    flex-direction: column; /* Stack sections vertically on smaller screens */
    align-items: center; /* Center align the sections vertically */
  }

  .left-section,
  .section-container {
    margin: 0; /* Reset margins for mobile to avoid layout issues */
    width: 90%; /* Increase width for better readability on small screens */
  }

  .details-container,
  .text-container {
    width: 100%; /* Full width on smaller screens for better visibility */
  }
}

@media (max-width: 768px) {
  article .icon {
    height: 4rem; /* Slightly smaller icons on smaller screens */
    width: 4rem;
  }

  .article-container {
    gap: 1rem; /* Smaller gap for compact layout */
  }
}
